body {
    background-image: url('/img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.nav-bar{
    padding: 20px 0 20px 0;
    background-color: rgba(0, 0, 0, 0.41);
}

.nav-items{
    color: white;
    font-family: Verdana;
    display: flex;
}   

.logo{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.05;
    padding-left: 81px;
    cursor: pointer;
    transition: 0.2s;
}

.logo:hover{
    color: #3cb878;
}

.nav-button{
    display: flex;
    margin-left: auto;
}

[class*="icon-"]{
    width: 29px;
    height: 31.6px;
    display: inline-block;
    background-image:url(/img/icons.png);
    margin-right: 28px;
}

.icon-1{
    background-position: -29px 0;
    cursor: pointer;
}

.icon-2{
    background-position: -100px 0;
    cursor: pointer;
}

.icon-3{
    background-position: -163px 0;
    cursor: pointer;
}

.icon-1:hover{
    background-position: 0px 0;
}

.icon-2:hover{
    background-position: -62px 0;
}

.icon-3:hover{
    background-position: -133px 0;
}

.green-font{
    color: #3cb878;
    cursor: pointer;
}

.green-font:hover{
    text-decoration: underline; 
}

.nav-login{
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.5;
    padding-left: 24px;
    padding-right: 75px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.form-container{
    box-shadow: 0px 4px 18px 0 rgba(0, 0, 0, 0.52);
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 60px 30px 0px;
    margin-top: 35px;
}

.form{
    margin-left: 60px;
}

.signup-login{
    display: flex;
    margin-bottom: 15px;
}

.signup{
    font-family: Verdana;
    font-size: 20px;
    line-height: 1.05;
    color: #434343;
}

.login{
    margin-left: auto;
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.5;
    color: #3cb878;
    cursor: pointer;
}

.OAuth{
    display: flex;
    color: white;
    font-family: Verdana;
    margin-bottom: 37px;
}

.facebook{
    display: flex;
    background-color: #305db8;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: 1s;
}

.google{
    display: flex;
    background-color: #df4a32;
    margin-left: auto;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: 1s;
}

.facebook-text, .google-text{
    padding-right: 10px;
    padding-left: 18px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: auto;
}

.facebook-logo, .google-logo{
    padding-left: 8px;
    padding-right: 8px;
}

.facebook:hover{
    background-color: #0055fe;
}

.google:hover{
    background-color: #ff2200;
}

.or-separator{
    display: flex;
}

hr {
    width: 100%;
    color: rgba(0, 0, 0, 0.52);
}

.or{
    font-family: Verdana;
    font-size: 14px;
    color: #848484;
    padding: 0 8px 0 8px;
}

.form-input{
    display: flex;
    flex-direction: column;
    gap: 9px ;
    margin-bottom: 22px;
    margin-top: 18px;
}

.form-input input{
    border:0.5 thin rgba(255, 255, 255, 0.5);
    height: 46px;
    width: 280px;
    padding-left: 15px;
    cursor: pointer;
}

.form-input input:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    border: none;
    outline: none;
}

.condition{
    display: flex;
}

.condition-text{
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.5;
}

button{
    margin-top: 28px;
    color: white;
    background-color: #3cb878;
    width: 100%;
    border: none;
    padding: 17px 0;
    border-radius: 2px;
    font-family: Verdana;
    font-size: 16px;
    line-height: 1.31;
    transition: 1s;
    cursor: pointer;
}

button:hover{
    background-color: #03ee74;
}

input[type=checkbox] {
    accent-color: white;
    border:0.5 thin rgba(255, 255, 255, 0.5);
}

input[type=checkbox]:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}

.block{
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    margin-right: 30px;
}

.box {
    position: relative;
    margin-right:15px;
}

.checkbox .check-mark {
    border: 1px solid gray;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 10%;
    position: absolute;
    top: 0px;
    background-color: white;
}

.checkbox:focus .check-mark:focus{
    box-shadow: 0px 30px 8px 0px rgba(0, 0, 0, 0.21);   
}

.checkbox input:checked ~ .check-mark:after {
    content: "\2713";
    color: #3cb878;
    position: absolute;
    top: 2px;
    right: 4px;
    font-size:17px;
    font-weight:bold;
}